div{
    
    
}
.nav-item{
    
}

/* .navbar-nav{
    margin-left: 90%;
} */

.navbar-brand{
margin-left: 86%;
font-family: 'Courier New', Courier, monospace;


}



.title{


    margin:  10px;
    /* color: rgb(27, 218, 154); */
    font-family: 'Courier New', Courier, monospace;
}